/* Tailwind CSS v4 imports */
@import "tailwindcss";

/* Alternative for Tailwind CSS v3 (if you need to downgrade):
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --bg-color: #f7f4ea;
  --yellow-color: #e6b907;
  --orange-color: #d97524;
  --blue-color: #51919a;
}

/* Custom styles can be added below */
body {
  background-color: var(--bg-color);
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

.nav-bar-button {
  @apply bg-[var(--blue-color)] w-full px-5 rounded-full cursor-pointer text-[var(--bg-color)] sm:text-xl;
}

.input-category {
  @apply sm:w-90 py-2 px-6 rounded-full border border-blue-400 focus:outline-none focus:ring-2 focus:ring-[var(--blue-color)] focus:border-transparent placeholder:text-gray-500;
}

.create-quiz-input {
  @apply text-[var(--bg-color)] sm:w-90 py-2 px-6 rounded-lg border border-[var(--bg-color)] focus:outline-none focus:ring-2 focus:ring-black focus:border-transparent placeholder:text-gray-200;
}

.create-quiz-terms-definition {
  @apply text-[var(--bg-color)] sm:w-90 py-2 px-6  border-b-1 border-[var(--bg-color)] focus:outline-none focus:border-b-black focus:border-transparent placeholder:text-gray-200;
}

@keyframes softPopIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animation-soft-pop-in {
  animation: softPopIn 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}
